.back-navbar{
    background:linear-gradient(36deg, #151d24 10%, #2d3f4e 80%) !important;
    padding: 10px;

}

.icon-nav{
    font-size: 1.5em!important;

}
.end-navbar{
    display: flex;
    justify-content: flex-end;
}
.button-home-nav{
    margin-right: 22% !important;
    
}
.font-menu-navbar{
    justify-content: center;
    font-family: Arial !important;
    font-size: 2px;
    font-weight: bold !important;
    color: #bebebe !important;
    margin-left: 2%!important;
}
.font-menu-navbar:hover{
    color: #7fadfd !important;
}

#simple-menu .MuiPaper-root {
    background: #0c121b   !important;
}

.fonte-title{

    font-family: Arial !important;
    font-weight: bold !important;
    color: #ffffff !important;
    margin-right: 6px!important;

}

.font-linkNavbar{
    justify-content: center;
    font-family: Arial !important;
    font-size: 2px;
    font-weight: bold !important;
    color: #ffffff !important;
}
.font-linkNavbar:hover{
    color: #2069e0 !important;
}

.muda{
    justify-content: center;
}
.text-decorator-none{
    text-decoration: none;
}

.button.back{
    background-color: transparent !important;
    font-weight: bold;

}
button.back:hover{
    background-color: #f4d47c !important; 
    color: #00091a;
}

.logo-navbar img{
    height: 50px;
    padding-top: 10px;
}

