.card{
    background:  #fff !important;
    background-position: left !important;
    border-radius: 30px;
    width: 480vw;
    height: 50vh;
}

.back-login{
    background-image: url("https://cdn.discordapp.com/attachments/946051833481285672/961982544516096010/telasProdigio_telaLogin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90.6vh;
}

.form-title{
    color: #151d24 !important;
    font-weight: bold !important;
}
.form-conta{
    color: #151d24 !important;
    font-weight: bold;
    font-size: 25px !important;
}

.botao{
    color: #FFFFFF !important;
    font-weight: bold !important;
    background-color: #151d24 !important;
    margin-bottom: 15px !important;
}
.botao:hover{
    color: #151d24 !important;
    background-color: #bebebe !important;
    border-color: #03c7a6;
}
.form{
    width: 300px;
}

.text-decorator-none{
    text-decoration: none;
}

.form-input{
    width: 100%;
}

#standard-basic{
    color: #151d24 !important;
}

#standard-basic-label{
    color: #151d24 !important;
}

/*After e Before: são pseudo-classes que informam o comportamento de um ou vários 
                elementos Depois ou Antes de um clique ou interação da pessoa usuaária*/
.MuiInput-underline::after,
.MuiInput-underline::before{
    border-bottom: 2px solid #798997!important;
}

.text-link{
    color: #151d24 !important;
    font-weight: bold!important;
    margin-top: 20px;
}

.text-link:hover{
    color: #023d6e !important;
}

.background{
    background: #bebebe!important;
    width: 98.9vw;
    min-height: calc(100vh - 15px); 

    /* Calc: função do CSS que faz um calculo com medidas e retorno seu resultado. No caso
            abaixo estamos calculando a largura da tela da pessoa menos a altura do Navbar*/
}