.banner {
    background-image: url('https://cdn.discordapp.com/attachments/946051833481285672/965639031138426900/44444-04.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    /* display: flex; */
    justify-content: left;
    align-items: center;
}

.banner-alinhamento {
padding: 10%;
width: 30%;
}
.banner-alinhamento h3{
    font-size: 2.5em !important;
    color: #fff;
}


.banner .btn-home {
    background-color: #FFF9C9 !important;
    margin: 2% !important;
    width: 80% !important;
    font-size: 1.1em !important;
    font-family: Tahoma, sans-serif !important;
    color: #151d24 !important;
    font-weight: bold !important;
    border-radius: 50px;
}

.banner .btn-home:hover{
    background-color: #151d24 !important;
    color: #fff !important;
    box-shadow: #151d24 2px 2px 2px;
}

.box-home img{
    width: 100%;
    margin-bottom: 10%;

}

.missao {
    /* background-image: url('https://cdn.discordapp.com/attachments/946051833481285672/962001207403098112/telasProdigio_telaCadastro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    height: 70vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.missao .missao-texto{
    padding-right: 15%;
    width: 100%;
    color: #151d24;
}

.m-texto{
    justify-content: left !important;
    align-items: left !important;
    display:flex;
    flex-wrap: wrap;
    padding-right: 5%;
}

.m-texto h2{
    font-size: 1.9em !important;
}

.m-texto button{
    color: #fff;
    border-radius: 20px;
    font-size: 1.4em !important;
    background-color: #2d3f4e;
    width: 70%;
}

.box-video{
    justify-content: center !important;
    align-items: center !important;
    display:flex;
    flex-wrap: wrap;
}
.box-video iframe{
    border-radius: 5px !important;
    box-shadow: #151d2450 0.25em 0.25em 1.25em;
    border: 1em solid #fff;
}


.missao .missao-texto p{
    font-size: 1.4em !important;
}


.e-a img{
    width: 100% !important;
}

.ods{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ods-texto{
    padding-right: 15%;
    padding-left: 5%;
    width: 100%;
    color: #151d24;
}

.ods-texto h2{
    font-size: 1.9em !important;
}

.ods-texto button{
    color: #fff;
    border-radius: 20px;
    font-size: 1.4em !important;
    background-color: #2d3f4e;
    width: 70%;
}

.ods-img img{
    width: 100%;
}


.Newsletter {
    background-color: #151d24 !important;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
}

.Newsletter input{
    color: #fff !important;
}
.MuiFormLabel-root .Newsletter{
    color: #fff !important;
}

.Newsletter h4{
    text-align: center !important;
    font-size: 1.3em;
}
.Newsletter .news{
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Newsletter .btn-news{
    width: 30%;
    background-color: #2d3f4e !important;
}
.icon-size{
    font-size: 50px !important;
}

.Newsletter label{
    color: #ffffff90;
}

.Newsletter .MuiInputBase-input{
    color: #fff !important;
}

.Newsletter .MuiFormLabel-root.Mui-focused{
    color: #ffffff90 !important;
}
.Newsletter .MuiOutlinedInput-notchedOutline{
    border-color: #ffffff90 !important;
}
