.back{
    background: rgba(0, 94, 156, 0.904)!important;
}

.barLogo{
    display: flex;
    justify-content: flex-start;
}
.barResto{
    display: flex;
    justify-content: flex-end;
    margin-right: 2px;
}
.text-decorator-none{
    text-decoration: none;
    color: white;
    margin: 10px;
}
.title{
    font-weight: bold !important;
    margin-right: 25px !important;
}