.back-navbar{
    background:linear-gradient(36deg, #151d24 10%, #2d3f4e 80%) !important;
    padding: 10px;

}

.button-home-nav{
    margin-right: 75% !important;
    
}

.logo-navbar img{
    margin-left: 25% !important;
    height: 50px;
    padding-top: 10px;
}
